body {
    font-family: Arial;
    background-color: #f0f0ff;
    text-align: center;
}

h1 {
    color: #4a4ad9;
}

.card {
    background-color: white;
    width: 300px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid lightgray;
}
